header {
  background-color: var(--white-color);
  width: 100%;
  border-bottom: 1px solid var(--border);

  .navBar {
    margin: 0 auto;
    width: 1120px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1140px) {
      width: 100%;
      padding: 0 16px;
      border-bottom: 1px solid var(--border);
      &.sticky {
        position: fixed;
        background-color: var(--white-color);
        top: 0;
        z-index: 99;
      }
    }

    .navMenu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 60px;
      @media (max-width: 1140px) {
        gap: 0;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--white-color);
        width: 100%;
        text-align: center;
        transform: 0.9s;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 1px solid var(--border);
        &.active {
          left: 0;
        }
      }

      .navItem {
        list-style: none;
        @media (max-width: 1140px) {
          width: 343px;
          margin: 16px;
        }
        .navLink {
          display: flex;
          flex-direction: row;
          text-decoration: none;
          color: var(--nav);
          transition: 0.3s ease;
          font-size: 20px;
          text-transform: capitalize;
          font-family: Noto Sans;
          line-height: 32px;
        }
        .navLink:last-child {
          margin-right: 20px;
        }
        .navLink:hover {
          color: var(--light-blue);
        }
      }
    }
  }
}

header {
  .hamburger {
    display: none;
    cursor: pointer;
    background-color: var(--white-color);
    @media (max-width: 1140px) {
      display: block;
    }
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background-color: var(--input);
    }
  }
}

header {
  .hamburger {
    @media (max-width: 1140px) {
      &.active {
        transition: all 0.3 ease all;
        .bar:nth-child(2) {
          opacity: 0;
        }
        .bar:nth-child(1) {
          transform: translateY(6px) rotate(45deg);
        }
        .bar:nth-child(3) {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }
  }
}
