button {
  background-color: var(--light-blue);
  font-family: "Noto Sans";
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white-color);
  line-height: 2rem;
  height: 4rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  cursor: pointer;
  @media (max-width: 600px) {
    height: 3.5rem;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 3rem;
  }
}
